body{
    padding: 5%;
    text-align: center;
}

.link-home{
    position: absolute;
    left: 30px;
    top: 30px;

}

.clue{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.text-hidden{
    animation: fade-in;
    animation-duration: 1s;
    visibility: hidden;
}

.text-revealed{
    visibility: visible;
}

@keyframes fade-in{
    from{opacity: 0}
    to{opacity: 100}
}